/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Indie+Flower');

/*
font-family: 'Indie Flower', cursive;
font-family: 'Gloria Hallelujah', cursive;

*/

#add-portfolio {
    display: none
}

#add-portfolio1 {
    display: none
}

#update-portfolio {
    display: none;
}

#update-portfolio1 {
    display: none;
}

.thumbnail {
    background-image: url(https://i.imgur.com/FOa8tmp.png);
    font-family: 'Indie Flower', cursive;
    -webkit-box-shadow: 1px 1px 20px 5px rgba(150,150,150,0.5);
    box-shadow: 1px 1px 20px 5px rgba(150,150,150,0.5);
}

body {
    background-image: url(https://i.imgur.com/KqZKjGr.png);
}

#logo {
    font-family: 'Gloria Hallelujah', cursive;
}

p {
    font-family: 'Indie Flower', cursive;
    font-size: 2.5rem;
    text-align: center;
    line-height: 3rem;
}

.sidenav {
    height: 100%;
    width: 0%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-image: url(https://i.imgur.com/FDZEEHz.png);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    -webkit-box-shadow:inset 2px 2px 20px 7px rgba(150,150,150,0.3);
    box-shadow:inset 2px 2px 20px 7px rgba(150,150,150,0.5);
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.sidenav .closebtn:hover {
    background-color: transparent;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

#bio {
    margin: 10px;
}

#navbar {
    padding: 10px;
    position: fixed;
    width: 100%;
}

#new {
    float: right;
    display: block;
}

.thumbnail {
    display: inline-block;
    margin:  0.25rem;
    padding:  1rem;
    width:  100%; 
    background:  #efefef;
}

#fp {
    width: 55%;
    height: 55%;
    display: block;
    margin: auto;
}

.logopic {
    width: 5rem;
    height: 5rem;
}

.logolinks {
    margin: 1rem;
}

.logolinks:hover {
    background-color: transparent;
}

#social {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    margin-bottom: 25px;
}

#logo1 {
    font-family: 'Gloria Hallelujah', cursive;
    float: right;
    margin-top: -55px;
    margin-right: 15px;
}

#sidetop {
    width: 100%;
}

#sp {
    font-size: 2rem;
    font-family: 'Gloria Hallelujah', cursive;
}

.panel .panel-body {
    width: 50%;
    height: 50%;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom:5px;
}

#skillimage {
    width: 10rem;
    height: 10rem;
    display: block;
    margin: auto;
}

#skillimagecontainer {
    width: 100%;
}

#skilldesc {
    text-align: center;
    margin-top: -20px;
}

#skillz {
    margin-bottom: 20px;
}

#profpic {
    width: 50%;
    height: 50%;
    border-radius: 200px;
}

#profcont {
    text-align: center;
}

.myButton {
     width:50px;
     height:50px;
     display:block;
     background-image: url(https://i.imgur.com/J9ZKIUs.jpg);
}

.myButton:hover {
     background-image:url(https://i.imgur.com/MjZVbIG.jpg)
}

@media (min-width: 480px) {
    
#fp {
    width: 100%;
    height: 100%;
}

#fpdiv {
    display: block;
    margin: auto;
}
    
}