/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Indie+Flower');

/*
font-family: 'Indie Flower', cursive;
font-family: 'Gloria Hallelujah', cursive;
*/

#navbar {
    padding: 10px;
    position: fixed;
}

p {
    font-family: 'Indie Flower', cursive;
    font-size: 2.5rem;
    text-align: center;
    line-height: 3rem;
}

body {
    background-image: url(https://i.imgur.com/KqZKjGr.png);
}

.sidenav {
    height: 100%;
    width: 0%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-image: url(https://i.imgur.com/FDZEEHz.png);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    -webkit-box-shadow:inset 2px 2px 20px 7px rgba(150,150,150,0.3);
    box-shadow:inset 2px 2px 20px 7px rgba(150,150,150,0.5);
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.sidenav .closebtn:hover {
    background-color: transparent;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

#fp {
    width: 50%;
    height: 50%;
    display: block;
    margin: auto;
}

#add-portfolio {
    display: none
}

#add-portfolio1 {
    display: none
}

#update-portfolio {
    display: none;
}

#update-portfolio1 {
    display: none;
}

.card {
    float: left;
    width: 25rem;
    height: 360px;
    display: block;
    margin: 10px;
    margin-top: 20px;
}

.card-block {
    margin: 0px;
    text-align: center;
}

.card-title {
    font-size: 2rem;
}

img {
    display: block;
    margin: auto;
    padding: 10px 0;
}

#ports {
    display: block;
    margin: auto;
    text-align: center;
}

@media screen and (max-width: 480px) {
    
#fp {
    width: 100%;
    height: 100%;
}

.card {
    width: 20rem;
    margin-left: 4.5% ;
}

    
}
